<div class="comments-box">
          
    <div class="avatar2">
    <img src="https://film.kukaj.io/avatars/three.png"  class="card-img">
    </div>
    
    <div class="comment-body">
      <b>[NAME]</b>
        <span class="comment-date">Pridané pred 1 mesiacom</span>
        <br>
        <span class="comment-message">
        <p>This text is styled with some of the text formatting properties. The heading uses the text-align, text-transform, and color properties. The paragraph is indented, aligned, and the space between characters is specified. The underline is removed from this colored "Try it Yourself" link.</p>
          </span>
          <div class="comment-tool">
            <div class="col-6" style="padding-right:0px;">
            <div class="reply-tool">
            <i class="fa-rotate-180 fa fa-reply" aria-hidden="true"></i> Odpovedať</span>
            </div>
            </div>
            <div class="col-6" style="padding-left:0px; padding-right:0px; position: relative; left:-15px;">
              
              <div class="float-right" style="position: relative;left: 28px;">

              <a href="#" class="ajax like">
                <i class="fa-solid fa-thumbs-up" style="width: 18px;"></i>
                <span style="color:green;padding-left:10px;">1</span>
              </a>
              <a href="#" class="ajax dislike">
                <i class="fa-solid fa-thumbs-down" style="width: 18px;"></i>
                <span style="color:red;padding-left:10px;">5</span>
              </a>

              </div>
          
          </div>
          <div>
    </div>
    </div>

    </div>
    
</div>
    <hr>

     <div class="comments-box">
    
      <div class="avatar2">
      <img src="https://film.kukaj.io/avatars/three.png"  class="card-img">
      </div>
      
      <div class="comment-body">
        <b>[NAME]</b>
          <span class="comment-date">Pridané pred 1 mesiacom</span>
          <br>
          <span class="comment-message">
          <p>This text is styled with some of the text formatting properties. The heading uses the text-align, text-transform, and color properties. The paragraph is indented, aligned, and the space between characters is specified. The underline is removed from this colored "Try it Yourself" link.</p>
            </span>
            <div class="comment-tool">
              <div class="col-6" style="padding-right:0px;">
              <div class="reply-tool">
              <i class="fa-rotate-180 fa fa-reply" aria-hidden="true"></i> Odpovedať</span>
              </div>
              </div>
              <div class="col-6" style="padding-left:0px; padding-right:0px; position: relative; left:-15px;">
                
                <div class="float-right" style="position: relative;left: 28px;">

                <a href="#" class="ajax like">
                  <i class="fa-solid fa-thumbs-up" style="width: 18px;"></i>
                  <span style="color:green;padding-left:10px;">1</span>
                </a>
                <a href="#" class="ajax dislike">
                  <i class="fa-solid fa-thumbs-down" style="width: 18px;"></i>
                  <span style="color:red;padding-left:10px;">5</span>
                </a>

                </div>
            
            </div>
            <div>
      </div>
      </div>

      </div>
      
  </div>
  <hr>
  <div class="comments-box">
          
    <div class="avatar2">
    <img src="https://film.kukaj.io/avatars/three.png"  class="card-img">
    </div>
    
    <div class="comment-body">
      <b>[NAME]</b>
        <span class="comment-date">Pridané pred 1 mesiacom</span>
        <br>
        <span class="comment-message">
        <p>This text is styled with some of the text formatting properties. The heading uses the text-align, text-transform, and color properties. The paragraph is indented, aligned, and the space between characters is specified. The underline is removed from this colored "Try it Yourself" link.</p>
          </span>
          <div class="comment-tool">
            <div class="col-6" style="padding-right:0px;">
            <div class="reply-tool">
            <i class="fa-rotate-180 fa fa-reply" aria-hidden="true"></i> Odpovedať</span>
            </div>
            </div>
            <div class="col-6" style="padding-left:0px; padding-right:0px; position: relative; left:-15px;">
              
              <div class="float-right" style="position: relative;left: 28px;">

              <a href="#" class="ajax like">
                <i class="fa-solid fa-thumbs-up" style="width: 18px;"></i>
                <span style="color:green;padding-left:10px;">1</span>
              </a>
              <a href="#" class="ajax dislike">
                <i class="fa-solid fa-thumbs-down" style="width: 18px;"></i>
                <span style="color:red;padding-left:10px;">5</span>
              </a>

              </div>
          
          </div>
          <div>
    </div>
    </div>

    </div>
    
</div>
    <hr>
     
     <div class="comments-box reply-0">
    
      <div class="avatar2">
      <img src="https://film.kukaj.io/avatars/three.png"  class="card-img">
      </div>
      
      <div class="comment-body">
        <b>[NAME]</b>
          <span class="comment-date">Pridané pred 1 mesiacom</span>
          <br>
          <span class="comment-message">
          <p>This text is styled with some of the text formatting properties. The heading uses the text-align, text-transform, and color properties. The paragraph is indented, aligned, and the space between characters is specified. The underline is removed from this colored "Try it Yourself" link.</p>
            </span>
            <div class="comment-tool">
              <div class="col-6" style="padding-right:0px;">
              <div class="reply-tool">
              <i class="fa-rotate-180 fa fa-reply" aria-hidden="true"></i> Odpovedať</span>
              </div>
              </div>
              <div class="col-6" style="padding-left:0px; padding-right:0px; position: relative; left:-15px;">
                
                <div class="float-right" style="position: relative;left: 28px;">

                <a href="#" class="ajax like">
                  <i class="fa-solid fa-thumbs-up" style="width: 18px;"></i>
                  <span style="color:green;padding-left:10px;">1</span>
                </a>
                <a href="#" class="ajax dislike">
                  <i class="fa-solid fa-thumbs-down" style="width: 18px;"></i>
                  <span style="color:red;padding-left:10px;">5</span>
                </a>

                </div>
            
            </div>
            <div>
      </div>
      </div>

      </div>
      
  </div>


  <div class="comments-box reply-0">
    
    <div class="avatar2">
    <img src="https://film.kukaj.io/avatars/three.png"  class="card-img">
    </div>
    
    <div class="comment-body">
      <b>[NAME]</b>
        <span class="comment-date">Pridané pred 1 mesiacom</span>
        <br>
        <span class="comment-message">
        <p>This text is styled with some of the text formatting properties. The heading uses the text-align, text-transform, and color properties. The paragraph is indented, aligned, and the space between characters is specified. The underline is removed from this colored "Try it Yourself" link.</p>
          </span>
          <div class="comment-tool">
            <div class="col-6" style="padding-right:0px;">
            <div class="reply-tool">
            <i class="fa-rotate-180 fa fa-reply" aria-hidden="true"></i> Odpovedať</span>
            </div>
            </div>
            <div class="col-6" style="padding-left:0px; padding-right:0px; position: relative; left:-15px;">
              
              <div class="float-right" style="position: relative;left: 28px;">

              <a href="#" class="ajax like">
                <i class="fa-solid fa-thumbs-up" style="width: 18px;"></i>
                <span style="color:green;padding-left:10px;">1</span>
              </a>
              <a href="#" class="ajax dislike">
                <i class="fa-solid fa-thumbs-down" style="width: 18px;"></i>
                <span style="color:red;padding-left:10px;">5</span>
              </a>

              </div>
          
          </div>
          <div>
    </div>
    </div>

    </div>
    
</div>
<hr>
     
<div class="comments-box reply-1">

 <div class="avatar2">
 <img src="https://film.kukaj.io/avatars/three.png"  class="card-img">
 </div>
 
 <div class="comment-body">
   <b>[NAME]</b>
     <span class="comment-date">Pridané pred 1 mesiacom</span>
     <br>
     <span class="comment-message">
     <p>This text is styled with some of the text formatting properties. The heading uses the text-align, text-transform, and color properties. The paragraph is indented, aligned, and the space between characters is specified. The underline is removed from this colored "Try it Yourself" link.</p>
       </span>
       <div class="comment-tool">
         <div class="col-6" style="padding-right:0px;">
         <div class="reply-tool">
         <i class="fa-rotate-180 fa fa-reply" aria-hidden="true"></i> Odpovedať</span>
         </div>
         </div>
         <div class="col-6" style="padding-left:0px; padding-right:0px; position: relative; left:-15px;">
           
           <div class="float-right" style="position: relative;left: 28px;">

           <a href="#" class="ajax like">
             <i class="fa-solid fa-thumbs-up" style="width: 18px;"></i>
             <span style="color:green;padding-left:10px;">1</span>
           </a>
           <a href="#" class="ajax dislike">
             <i class="fa-solid fa-thumbs-down" style="width: 18px;"></i>
             <span style="color:red;padding-left:10px;">5</span>
           </a>

           </div>
       
       </div>
       <div>
 </div>
 </div>

 </div>
 
</div>


<div class="comments-box reply-1">

<div class="avatar2">
<img src="https://film.kukaj.io/avatars/three.png"  class="card-img">
</div>

<div class="comment-body">
 <b>[NAME]</b>
   <span class="comment-date">Pridané pred 1 mesiacom</span>
   <br>
   <span class="comment-message">
   <p>This text is styled with some of the text formatting properties. The heading uses the text-align, text-transform, and color properties. The paragraph is indented, aligned, and the space between characters is specified. The underline is removed from this colored "Try it Yourself" link.</p>
     </span>
     <div class="comment-tool">
       <div class="col-6" style="padding-right:0px;">
       <div class="reply-tool">
       <i class="fa-rotate-180 fa fa-reply" aria-hidden="true"></i> Odpovedať</span>
       </div>
       </div>
       <div class="col-6" style="padding-left:0px; padding-right:0px; position: relative; left:-15px;">
         
         <div class="float-right" style="position: relative;left: 28px;">

         <a href="#" class="ajax like">
           <i class="fa-solid fa-thumbs-up" style="width: 18px;"></i>
           <span style="color:green;padding-left:10px;">1</span>
         </a>
         <a href="#" class="ajax dislike">
           <i class="fa-solid fa-thumbs-down" style="width: 18px;"></i>
           <span style="color:red;padding-left:10px;">5</span>
         </a>

         </div>
     
     </div>
     <div>
</div>
</div>

</div>

</div>